<!DOCTYPE html>
{% load staticfiles %}
<html lang="id">
  <head>
    <!--Let browser know website is optimized for mobile-->
    <meta charset="utf‐8">
    <meta http‐equiv="X‐UA‐Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Libre+Franklin" rel="stylesheet" type="text/css">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="{% static 'css/materialize.min.css' %}" media="screen, projection"/>
    <link rel="stylesheet" href="{% static 'css/lightbox.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <title>Hebel Stone</title>
    <!-- Navbar fixed-->
    <div class="navbar-fixed">
      <nav class="blue lighten-2" role="navigation">
        <div class="nav-wrapper container">
          <a id="logo-container" href="\" class="brand-logo"><img src="{% static 'images/logo.png' %}"></a>
          <ul class="right hide-on-med-and-down">
            <li><a href="#"></a></li>
          </ul>
          <ul id="nav-mobile" class="side-nav">
            <li><a href="1"></a></li>
          </ul>
          <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
        </div>
      </nav>
    </div>
  </head>

  <body>
    {% block content %}
    {% endblock %}

    <!--Import jQuery before materialize.js-->
    <script src="{% static 'js/lightbox-plus-jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>

      <script>
          // Initialize parallax, pushpin
          $(document).ready(function(){
              $('.nav-mobile').pushpin({ top: $('.nav-mobile').offset().top });
          });

          lightbox.option({
            'resizeDuration': 200,
            'wrapAround': true,
            'albumLabel': {{ item.deskripsi }},
          })
    </script>

  </body>
</html>
