{% extends 'stones/base.html' %}

{% block content %}
{% load staticfiles %}
<div class="container produk">
  <h5 class="semua">produk</h5>
  <h6 class="semua">produk hebel stone</h6>
  <hr>
    <div class="image-row">
      {% for semua in semuas %}
      <div class="image-set">
        <a class="image-link" href="{{ semua.image.url }}" data-lightbox="sama" data-title="{{ semua.kode }}">
          <img src="{{ semua.thumbnail.url }}"/></a>
      </div>
      {% endfor %}
    </div>
</div>

{% endblock %}
