<!DOCTYPE html>
{% load staticfiles %}
<html>
  <head>
    <!--Let browser know website is optimized for mobile-->
    <meta charset="utf‐8"/>
    <meta http‐equiv="Content-Type" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Cuprum" rel="stylesheet" type="text/css">
    <!--Import materialize.css-->
    <link rel="stylesheet"  href="{% static 'css/materialize.min.css' %}" media="screen, projection"/>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" media="screen, projection"/>
    <title>Hebel Stone</title>
  </head>

  <body>
    <div class="navbar-fixed">
      <nav class="blue lighten-2" role="navigation">
        <div class="nav-wrapper container">
          <a id="logo-container" href="#" class="brand-logo"><img src="{% static 'images/logo.png' %}"></a>
          <ul class="right hide-on-med-and-down">
            <li><a href="#">Navbar Link</a></li>
          </ul>

          <ul id="nav-mobile" class="side-nav">
            <li><a href="1">Navbar Link</a></li>
          </ul>
          <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
        </div>
      </nav>
    </div>

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center teal-text text-lighten-2">Hebel Stone</h1>
        <div class="row center">
          <h5 class="header col l12 light">Desain variatif dan unik membuat produk kami tampil berbeda</h5>
        </div>
        <div class="row center">
          <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Get Started</a>
        </div>
        <br><br>
      </div>
    </div>
    <div class="parallax"><img src="{% static 'images/show1.png' %}" alt="Showroom kami"></div>
  </div>

  <div class="container">
      <div class="section">

        <!--   Icon Section   -->
        <div class="row">
          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center brown-text"><i class="material-icons md-36">flash_on</i></h2>
              <h5 class="center">Desain Modern</h5>

              <p class="light">Kami memadukan batu bata dan batu alam, sehingga produk kami sangat bervariasi dan unik.
</p>
            </div>
          </div>

          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center brown-text"><i class="material-icons md-36">border_style</i></h2>
              <h5 class="center">Lebih Hemat</h5>

              <p class="light">Dengan ukuran yang lebih besar dan ideal dibandingkan batu bata biasa,
                produk kami lebih sedikit menggunakan semen, baik sebagai perekat atau plesteran.</p>
            </div>
          </div>

          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center brown-text"><i class="material-icons md-36">widgets</i></h2>
              <h5 class="center">Fleksibel</h5>

              <p class="light">Produk kami dapat di rekatkan menggunakan Nat ataupun tidak menggunakan Nat.
                Hal ini tergantung permintaan konsumen</p>
            </div>
          </div>
        </div>

      </div>

    </div>
  <!--      <h6 href="#" class="brand-logo"><img class="responsive-img" src="{% static 'images/logo_kosong.png' %}"></h6>
            <p class="flow-text" class="grey-text text-darken-3 lighten-3">
                Batu Bata merah merupakan salah satu komponen utama dalam pembuatan kontruksi bangunan.
                Material ini biasanya digunakan untuk membuat dinding maupun komponen kontruksi bangunan lainnya.
                Ditengah minimnya pilihan bahan pembuatan dinding, kami menghadirkan terobosan baru dengan perpaduan Batu Bata dengan batu alam.
                Produk kami muncul dengan berbagai variasi serta bentuk yang unik, dan karena ukurannya lebih besar dari
                Batu Bata biasa, maka produk kami lebih hemat dalam pemakaian semen, baik sebagai perekat maupun plesteran.
                Keunggulan Produk kami:<br></p>

            <div class="row">
              <div class="col s12 m4 l4">
                <div class="card-panel blue darken-1" class="z-depth-5">
                  <h5>Ideal</h5>
                  <p class="flow-text" class="grey-text text-darken-3 lighten-3">Berupa bahan Batu Bata yang telah melalui pemotongan sesuai ukuran yang ideal untuk struktur bangunan</p>
                </div>
              </div>

              <div class="col s12 m4 l4">
                <div class="card-panel blue darken-1" class="z-depth-5">
                  <h5>Nat</h5>
                  <p class="flow-text" class="grey-text text-darken-3 lighten-3">Batu Bata dengan lebar 20 cm yang disambung memakai perekat, tidak memakai nat.
                     Akan tetapi bisa juga memakai nat, kami menyesuaikan sesuai permintaan konsumen</p>
                </div>
              </div>

              <div class="col s12 m4 l4">
                <div class="card-panel blue darken-1" class="z-depth-5">
                  <h5>Hebel</h5>
                  <p class="flow-text" class="grey-text text-darken-3 lighten-3">
                    Batu Bata memakai hebel sebagai bahan dasar dengan ukuran 20 x 60 x 10<br></p>
                </div>
              </div>
          </div>


                <p class="flow-text" class="grey-text text-darken-3 lighten-3">
                  Perbandingan ukuran yang lebih besar di bandingkan Batu Bata biasa menyebabkan perekat yang digunakan
                  lebih sedikit. Begitu juga dengan semen untuk plesteran yang digunakan pun bisa lebih dihemat
                  karena produk kami di buat dengan ukuran yang ideal untuk struktur dinding bangunan.<br></p>
            </div>-->

    <div class="parallax-container">
        <div class="parallax"><img class="responsive-img" src="{% static 'images\collage.jpg' %}"></div>
    </div>

    <!-- Produk container -->
    <div class="container produk">
      <h5 class="produk">produk</h5>
      <h6 class="produk">ragam produk hebel stone</h6>
      <hr>
      <div class="row">
          <div class="col s12 m12 l12 portfolio-holder">
            {% for Stone in prods %}
              <img class="materialboxed" data-caption="sand stone" src="{% static 'images/project.png' %}">
            {% endfor %}
          </div>
        </div>
    </div>

    <div class="container contact">
        <h5>contact</h5>
        <h6>hubungi kami</h6>
        <hr>
        <div class="row">
          <div class="col s12 m6 l6">
            <div class="row">
              <form class="col s12">
                <div class="row">
                  <div class="input-field col s6">
                    <input id="first_name" type="text" class="validate">
                    <label for="first_name">First Name</label>
                  </div>
                  <div class="input-field col s6">
                    <input id="last_name" type="text" class="validate">
                    <label for="last_name">Last Name</label>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s12">
                    <input id="email" type="email" class="validate">
                    <label for="email">E-Mail</label>
                  </div>
                </div>
                <textarea class="materialize-textarea" placeholder="Your Message" required></textarea>
                <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                  <i class="mdi-content-send right"></i>
                </button>
              </form>
            </div>
          </div>
          <div class="col s12 m6 l6 contact-holder">
            <h6 class="mdi-action-home">Address</h6>
            <p>Saman, Jl. Ringroad Selatan, Bangunharjo, <br>
              Sewon, Bantul, Yogyakarta</p>
            <h6 class="mdi-hardware-phone-android">Phone Number</h6>
            <p>+62 812 2828 8289</p>
            <h6 class="mdi-action-open-in-browser">Website</h6>
            <p>www.hebelstones.com</p>
          </div>
        </div>
      </div>
      <h1>{% for Stone in kabeh %}
                {{ Stone.cover_stone }} <br>
              {% endfor %}
      </h1>

      <footer>
        <div class="footer-copyright">
          <div class="container">
          © 2016 Copyright Text
          <a class="grey-text text-lighten-4 right" href="#!">Link</a>
          </div>
        </div>
      </footer>

    <!--Import jQuery before materialize.js-->
      <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script src="{% static 'js/materialize.min.js' %}"></script>
      <script>
          // Initialize parallax
          $(document).ready(function(){
              $('.parallax').parallax();
          });

          $(document).ready(function(){
              $('.parallax').parallax();
          });

          // Initialize pushpin navbar
          $(document).ready(function(){
              $('.nav-mobile').pushpin({ top: $('.nav-mobile').offset().top });
          });

          // Initialize materialbox
          $(document).ready(function(){
              $('.materialboxed').materialbox();
          });
          $(document).ready(function(){
              $('.materialboxed').materialbox();
          });
      </script>
  </body>
</html>
