body, html
{
      background-color: #bdbdbd !important;
      font-family: 'Libre Franklin';

}

.parallax
{
    position: static;
}

.nav-wrapper
{
    background-color: #64b5f6;
}

.brand-logo
{
  position: static;
}

nav ul a,
nav .brand-logo {
  color: #444;
}

.card-reveal p {
    text-align: center;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}


  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}


.intro
{
    text-align: center;
    padding-top: 13%;
    padding-bottom: 13%;
    margin-bottom: 50px;
}

.intro h1
{
    font-weight: 1200;
    text-transform: uppercase;
}

.intro h2
{
    text-transform: uppercase;
    color: #231F20;
}

.produk h5
{
    text-transform: uppercase;
    color: #231F20;

}

.intro b
{
    font-weight: bold;
}

.card-panel h5
{
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.card-panel p
{
    font-size: 24;
}

.produk h5
{
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.produk h6
{
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 45px;
}
.produk hr
{
    text-align: center;
    width: 40px;
    margin-bottom: 45px;
}

.produk .produk-holder
{
    clear: both;
    text-align: center;
}

.produk img
{
    width: 33%;
    display: inline-block;
    float: left;
}


.contact .col
{
    margin-bottom: 24px;
}

.contact h5
{
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.contact h6
{
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 45px;
}

.contact hr
{
    width: 40px;
    margin-bottom: 45px;
}

.contact .contact-holder
{
    padding-left: 40px;
    text-align: left;
}

.contact .contact-holder h6
{
    margin-bottom: 15px;
    text-align: left;
}

.contact .contact-holder p
{
    margin-bottom: 30px;
}

footer
{
    padding-top: 0px;
    margin: 0;
}
